# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# scanners
owasp.json

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
cover
cover.xml
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# documentation
docs/_build/
doc

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv
venv
env

# IDE stuff
.idea
.vscode

# compiled output
/dist
/tmp
/out-tsc

# dependencies
*node_modules*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# data
/server/data/uploads
/server/data/logs

# doc
/doc
/doc/angular
/doc/api
/doc/nodejs

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log
yarn.lock

# Windows git files
*.desktop
